* body {
	width: 100%;
}
/* nav selectors */
.purple {
	background-color: rgb(104, 86, 139);
}
.main-bg {
	background-color: rgb(233, 227, 227);
}
/* container selectors */
.container-column {
	display: flex;
	align-items: baseline;
}
.bottom-row {
	margin-bottom: auto;
}

/* footer selectors */
footer {
	width: 100%;
	height: 60px;
}
