.container-column {
	display: flex;
	align-items: baseline;
}

.navbar-collapse.collapse {
	display: block !important;
}

.navbar-nav > li,
.navbar-nav {
	justify-content: flex-start !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	justify-content: flex-end !important;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: darkslategray;
	height: 50px;
}
/* 
@media screen and (max-width: 640px) {
	ul.navbar-nav li.nav-item {
		display: block;
		align-items: baseline;
		justify-content: center;
	}
} */
