* body {
	width: 100%;
}

/* container selectors */
.container-column {
	display: flex;
	align-items: baseline;
}

/* .card-width {
	width: 100%; */

/* footer selectors */
footer {
	width: 100%;
	height: 60px;
	background-color: darkslategrey;
}
